extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= name

        p.lead.text-light= heading

        .portfolio-bio
          each item in elavator_pitch
            p= item

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each item in skills
            li= item
        h6 Contact Info

        ul
          each item in contact_info
            li= item

        a.button.expanded(href=`${LinkedIn}` target='_blank') LinkedIn
        a.button.expanded(href=`${GitHub}` target='_blank') GitHub
        a.button.expanded(href=`${Twitter}` target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
