extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= profile.name

        p.lead.text-light= profile.heading

        .portfolio-bio
          each item in profile.elavator_pitch
            p= item

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each item in profile.skills
            li= item
        h6 Contact Info

        ul
          each item in profile.contact_info
            li= item

        a.button.expanded(href=`${profile.LinkedIn}` target='_blank') LinkedIn
        a.button.expanded(href=`${profile.GitHub}` target='_blank') GitHub
        a.button.expanded(href=`${profile.Twitter}` target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
