extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1= name

        //- Feel free personalize the title below
        p.lead.text-light= heading

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          each item in elavator_pitch
            p= item

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          each item in skills
            li= item
        h6 Contact Info

        //- Add your own contact info
        ul
          each item in contact_info
            li= item

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href=`${LinkedIn}` target='_blank') LinkedIn
        a.button.expanded(href=`${GitHub}` target='_blank') GitHub
        a.button.expanded(href=`${Twitter}` target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
